<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

 <xacro:property name="wheel_traction_mechanical_reduction" value="1.0" />

<xacro:macro name="wheel_traction_transmission" params="prefix">
	<transmission name="${prefix}_wheel_traction_joint_trans">
	  <type>transmission_interface/SimpleTransmission</type>
	  <joint name="${prefix}_joint">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	  </joint>
	  <actuator name="${prefix}_wheel_traction_joint_motor">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		<mechanicalReduction>${wheel_traction_mechanical_reduction}</mechanicalReduction>
	  </actuator>
	 </transmission>
</xacro:macro>

</robot>
